extends layout


block content
    .row
        .col-md-4
            .row
                .col-md-12
                    center
                        img.img-circle.img-responsive(src= pic width="70" height="70")
                        br
                        br
            .row
                .col-md-12
                    center
                        button.btn(type='button', data-toggle='collapse', data-target='#demox2')
                            i.fa.fa-pencil
                            |   Change Pic!
                        #demox2.collapse
                            br
                            form(action='upload_user_pic.php', method='POST', enctype='multipart/form-data')
                                input(type='hidden', name='MAX_FILE_SIZE', value='2000000')
                                input#dp(name='dp', type='file')
                                br
                                button#uploaduserimage.w3-btn.w3-theme(type='submit', name='uploaduserimage', value='uploaduserimage', onclick="myFunction('Reci')")
                                    i.fa.fa-pencil
                                    | Submit
            .review-block-name
                center
                    | Rating : #{rating}


        .col-md-8
            .row
                .col-md-8
                    h4 Hi, #{name}!
                .col-md-4
                    p
                        strong Age:
                        |  #{age}
            p
                strong About:
                |  #{about}
            p
                strong Preferences:
                br
                |  Cleanliness : #{cleanliness}
                br
                |  Smoking : #{smoking}
                br
                |  Drinking : #{drinking}
                br
                |  Party : #{party}

    .row
        br
        br
        h4 Reviews for #{name}:
        .col-md-4
            img.img-rounded(src='http://cdn2.business2community.com/wp-content/uploads/2014/04/profile-picture-300x300.jpg' width="50" height="50")
            .review-block-name
                a(href='#') nktailor
            .review-block-date
                | January 29, 2016
                br
                | 1 day ago
        .col-md-8
            .review-block-title this was nice in buy
            .review-block-description
                | this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy
            .review-block-rate
                | Sentiment