extends layout


block content
    h4 Welcome to your room, #{username}!
    br
    .row
        .col-md-5
            h5 Room Name: #{roomname}
        .col-md-6.col-md-offset-1
            h5 Address: #{address}
    .row
        .col-md-12
            h5 Roommates: #{users}
            br
    .row
        .col-md-12
            h5 Room currently available for rent: #{room_available}
            br
    .row
        .col-md-12.col-md-offset-4
            h5 Room Info
            br
    .row
        .col-md-4.col-md-offset-1
            h6 Basic
        .col-md-5.col-md-offset-1
            h6 Amenities
    .row
        .col-md-4
            br
            p Room Info: #{info}
            p Number of bedrooms: #{numrooms}
            p Number of roommates:
            p Total Rent: #{rent}
        .col-md-8
            br
            .col-md-6
                p Airconditioner: #{ac}
                p Internet: #{wifi}
                p Washer: #{washer}
                p Dryer: #{dryer}
            .col-md-6
                p Parking: #{parking}
                p Gym: #{gym}
                p Swimming Pool: #{pool}
                p Pets Allowed: #{pets}
